/* vazir Font v27.1.0 */
@font-face {
	font-family: Vazir;
	src: url('../fonts/vazir-v27.1.0/Vazir-Regular.eot');
	src: url('../fonts/vazir-v27.1.0/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/vazir-v27.1.0/Vazir-Regular.woff2') format('woff2'),
	url('../fonts/vazir-v27.1.0/Vazir-Regular.woff') format('woff'),
	url('../fonts/vazir-v27.1.0/Vazir-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Vazir;
	src: url('../fonts/vazir-v27.1.0/Vazir-Bold.eot');
	src: url('../fonts/vazir-v27.1.0/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/vazir-v27.1.0/Vazir-Bold.woff2') format('woff2'),
	url('../fonts/vazir-v27.1.0/Vazir-Bold.woff') format('woff'),
	url('../fonts/vazir-v27.1.0/Vazir-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* Estedad Font */
@font-face {
	font-family: Estedad;
	url('../fonts/estedad/Estedad-Medium.woff2') format('woff2'), font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Estedad;
	url('../fonts/estedad/Estedad-Bold.woff2') format('woff2'), font-weight: bold;
	font-style: normal;
}

/* IranianSans Font */
@font-face {
	font-family: IranianSans;
	src: url('../fonts/iraniansans/iranian-sans.eot');
	src: url('../fonts/iraniansans/iranian-sans.eot?#iefix') format('embedded-opentype'),
	url('../fonts/iraniansans/iranian-sans.woff2') format('woff2'),
	url('../fonts/iraniansans/iranian-sans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* NotoSans Font */
@font-face {
	font-family: NotoSans;
	url('../fonts/notosans/NotoSansArabic-Regular.woff2') format('woff2'),
	url('../fonts/notosans/NotoSansArabic-Regular.woff') format('woff'),
	url('../fonts/notosans/NotoSansArabic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: NotoSans;
	url('../fonts/notosans/NotoSansArabic-Bold.woff2') format('woff2'),
	url('../fonts/notosans/NotoSansArabic-Bold.woff') format('woff'),
	url('../fonts/notosans/NotoSansArabic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

#dashboard_right_now a.demo-count:before {
	content: "\f115"
}

.setting-title {
	font-weight: bold !important;
	color: #0052cc;
}

/*
 * Make select2 match WordPress style
 * CSS taken from GamiPress (gamipress.com)
 */
.cmb-type-font .select2-hidden-accessible {
	display: none !important;
}

.cmb-font-select2 {
	width: 15em !important;
}

.cmb-font-select2 .select2-selection,
.cmb-font-select2 .select2-search--dropdown .select2-search__field,
.cmb-font-select2.select2-container--focus .select2-selection--multiple {
	border: 1px solid #ddd !important;
	border-radius: 0 !important;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07) !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07) !important;
	color: #32373c !important;
	min-height: 31px !important;
}

.cmb-font-select2 .select2-selection--single .select2-selection__rendered {
	line-height: 30px;
}

.cmb-font-select2 .select2-dropdown {
	border-color: #ddd !important;
	border-radius: 0 !important;
}

.cmb-font-select2 .select2-selection--single .select2-selection__clear {
	font-size: 18px;
	line-height: 26px;
}

.cmb-font-select2 .select2-search--inline .select2-search__field {
	margin-top: 3px;
}

.cmb-font-select2 .select2-selection--multiple .select2-selection__choice {
	background-color: #f5f5f5 !important;
	border-color: #ddd !important;
	font-style: normal !important;
}

.cmb-font-select2 .select2-results__group {
	background-color: #fafafa;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.wp2x-tabs .wp-tab-bar {
	margin-bottom: -7px !important;
}

.wp2x-tabs li {
	padding: 10px 15px !important;
	display: inline-block !important;
}

.wp2x-tabs li a {
	color: black;
	font-size: 14px;
}

.wp2x-tabs li.wp-tab-active a {
	font-weight: bold;
	color: #0052cc;
}

.wp2x-tabs .wp-tab-panel {
	max-height: 100% !important;
	padding: 20px !important;
}

.wp2x-tabs h3.hndle {
	padding: 0 1em;
}

.wp2x-tabs .CodeMirror {
	width: 700px !important;
}

.rtl .cmb2-id-custom-login-url #custom_login_url {
	float: right;
	text-align: left;
}

.rtl .cmb2-id-custom-login-url code {
	padding: 7px;
	display: inline-block;
}
